/* Barra de navegacion */

.navbar {
  padding: 2rem;
  background: linear-gradient(to right, rgb(240, 146, 240), rgb(110, 156, 236)); 
  font-family: cursive;


}
.rounded-corner {
  border-radius: 15px; /* Ajusta el valor según el grado de curvatura que desees */
  box-shadow: 0 6px 8px rgba(101, 198, 237, 0.1); /* Agrega una sombra alrededor de la imagen */
  width: 400px; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: auto;
  border: 8px solid rgb(61, 0, 48); /* Establece un borde inicial */
  animation: cambioColor 5s infinite; /* Aplica la animación al cambio de color del borde */
}
.fade-in-out {
  opacity: 0; /* La imagen comienza invisible */
  transition: opacity 0.5s ease; /* Transición suave de 0.5 segundos */
}

.fade-in-out:hover {
  opacity: 1; /* Cuando pasas el cursor sobre la imagen, se vuelve completamente visible */
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}

/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes cambioColor {
  0% { color: #760562; } /* Color inicial */
  50% { color: rgb(84, 3, 65); } /* Color intermedio */
  100% { color: rgba(34, 0, 17, 0.5); } /* Color final */
}

.movimiento {
  font-size: 48.5px;
  font-family: 'Rubik Dirt';
  margin: 5px;
  animation: cambioColor 2s infinite alternate; /* Animación de cambio de color */
}

/*SOBRE MI FONDO DE ATRAS*/
.seccion-oscura {
  color: rgb(3, 2, 2);
  background-color: #d27ece;
}

.seccion-clara {
  color: black;
  background-color: rgb(246, 243, 243);
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;

}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
  font-family:Arial, Helvetica, sans-serif
  
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
  background: linear-gradient(to right, purple, rgb(71, 116, 194)); /* Degradado de morado a amarillo a azul */
  color: white; /* Color de texto blanco para contrastar con el fondo */
  padding: 20px; /* Añade espacio alrededor del contenido */
}*/


/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #a52287;
}

.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #8b0172;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}



/* Testimonios */

.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonio img {
  height: 150px; /* Ajusta la altura según sea necesario */
  width: 150px; /* Ajusta el ancho según sea necesario */
  border-radius: 50%; /* Hace que la imagen sea circular */
  margin-bottom: 20px;
   /* Mueve la imagen hacia la derecha */
  margin-right: 10px; /* Restablece el margen derecho a 0 */
}




.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 500px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}
